* {
		padding: 0;
		margin: 0;
}

/* on scroll animation */

.reveal {
		position: relative;
		transform: translateY(150px);
		opacity: 0;
		transition: 1.5s all ease;
}

.reveal.active {
		transform: translateY(0);
		opacity: 1;
}

body {
		background: #111111;
}

header {
		background: linear-gradient(-45deg, #fdc830, #f37335);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
}

@keyframes gradient {
		0% {
				background-position: 0% 50%;
		}
		50% {
				background-position: 100% 50%;
		}
		100% {
				background-position: 0% 50%;
		}
}

.avatar {
		width: 150px;
		height: auto;
		border-radius: 50%;
		border: 5px solid #000;
		margin-top: 65px;
}

.head-text {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
}

.head-text h1 {
		font-family: 'Merienda', cursive;
		font-size: 40px;
}

.head-text p {
		text-align: center;
		padding: 15px 10px 0 10px;
}

.fa-font {
		font-family: 'Baloo Bhaijaan 2', cursive;
		direction: rtl;
}

/* cypher part */

.cypher {
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 50px;
}

.cypherTitle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.cypherTitle span {
		color: #ffb200;
		font-size: 50px;
}

.cypherTitle h1 {
		font-family: 'Harmattan', sans-serif;
		font-weight: 500;
		font-size: 30px;
}

.cypher p {
		text-align: center;
		padding: 15px 40px 0 40px;
}

.cypher a {
		margin-top: 10px;
}


/* skills part */

.skills {
		width: 100%;
		display: flex;
		justify-content: center;
		color: #fff;
		display: flex;
		flex-direction: column;
		padding-top: 100px;
}

.skillsTitle {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

.skillsTitle h1 {
		text-align: center;
		width: 100%;
		font-family: 'Harmattan', sans-serif;
		font-size: 30px;
		font-weight: 500;
}

.skillsTitle i {
		color: #ffb200;
		font-size: 50px;
}

.skillsPart {
		display: flex;
		flex-direction: column;
		width: 100%;
}

.skill {
		padding-top: 10px;
}

.skillsText {
		font-family: 'Nunito', sans-serif;
		display: flex;
		flex-direction: row;
		width: 100%;
		padding-top: 30px;
}

.skillsText h2 {
		padding-left: 5%;
		font-size: 20px;
}

.skillsText h2 i {
		color: #ffb200;
}

.skillsText h3 {
		margin-left: auto;
		order: 2;
		padding-right: 5%;
		font-size: 15px;
}

.progress0 {
		background: #ddd;
		margin-top: 10px;
		margin-left: 5%;
		margin-right: 5%;
		position: relative;
		height: 10px;
		width: 90%;
		border-radius: 10px;
}

.pyProg {
		background: #0081ff;
		border-radius: 10px 0 0 10px;
		pposition: absolute;
		height: 100%;
		width: 0%;
		transition: width 2.5s;
}

#py.animate {
		width: 90%;
}

#js.animate {
		width: 60%;
}

#web.animate {
		width: 50%;
}

.jsProg {
		background: #ffdc00;
		border-radius: 10px 0 0 10px;
		pposition: absolute;
		height: 100%;
		width: 0%;
		transition: width 2.5s;
}

.webProg {
		background: #ff3400;
		border-radius: 10px 0 0 10px;
		pposition: absolute;
		height: 100%;
		width: 0%;
		transition: width 2.5s;
}

/* bots */

.bots {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: #fff;
		padding-top: 100px;
}

.botsTitle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
}

.botsTitle h1 {
		font-family: 'Harmattan', sans-serif;
		font-weight: 500;
		font-size: 30px;
}

.botsTitle i {
		color: #ffb200;
		font-size: 50px;
}

.bots p {
		padding: 15px 20px 0 20px;
		text-align: center;
		direction: rtl;
}

.botsButtons {
		display: flex;
		width: 60%;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding-top: 15px;
}

.botButton {
		width: 100px;
		height: 50px;
		border-radius: 50px;
		background: #ffb200;
		font-family: 'Patua One', cursive;
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		transition: all 0.3s;
}

.botButton:hover {
		height: 60px;
		width: 110px;
}

/* High Voltage */

.hvt {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 100px;
		color: #fff;
		padding-bottom: 65px;
}

.hvtTitle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.hvtTitle img {
		height: 200px;
		width: 200px;
}

.hvtTitle h1 {
		font-family: 'Luxurious Roman', cursive;
		color: #00eaff;
		font-size: 35px;
		letter-spacing: 2px;
}

.hvt p {
		padding: 15px 20px 0 20px;
		text-align: center;
}

.hvtButtons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 75%;
		padding-top: 15px;
}

.hvtButton {
		width: 120px;
		height: 50px;
		border-radius: 50px;
		background: #00eaff;
		color: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: 'Baloo Bhaijaan 2', cursive;
		transition: all 0.3s;
}

.hvtButton:hover {
		height: 60px;
		width: 130px;
}

/* footer */

footer {
		background: linear-gradient(-45deg, #fdc830, #f37335);
		animation: gradient 10s ease infinite;
		background-size: 400% 400%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-top: 50px;
}

/* contact */

.contact {
		display: flex;
		flex-direction: column;
		width: 100%;
		color: #000;
}

.contact h1 {
		font-family: 'Harmattan', sans-serif;
		font-size: 30px;
		font-weight: 500;
		direction: rtl;
}

.contact i {
		color: #000;
		font-size: 25px;
		padding-right: 30px;
}

.contact form {
		display: flex;
		padding-top: 10px;
		flex-direction: column;
		padding-right: 25px;
		direction: rtl;
}

.Form {
		border-radius: 10px;
		border: 2px solid #000;
}

.Form:hover {
		outline: none !important;
}

.name {
		height: 25px;
		width: 100px;
		padding: 0 5px 0 5px;
		margin-bottom: 10px;
		margin-left: 15px;
}

.email {
		height: 25px;
		width: 190px;
		padding: 0 5px 0 5px;
		margin-bottom: 10px;
}

.msg {
		width: 350px;
		height: 100px;
		padding: 0 5px 0 5px;
		margin-bottom: 10px;
}

.btn {
		height: 50px;
		width: 80px;
		border-radius: 40px;
		background: #00eaff;
		padding-left: 5px;
		font-size: 15px;
}

/* footer links */

.footerLinks {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 75px;
		width: 30%;
		font-size: 20px;
		direction: rtl;
}

.footerLinks a {
		transition: font-size 0.2s;
}

.footerLinks a:hover {
		font-size: 23px;
}

/* copyright */

.copyright {
		padding: 25px 0 50px 0;
		font-family: 'Harmattan', sans-serif;
		font-size: 15px;
		text-align: center;
}

.heart {
		color: #FF0000;
		font-size: 15px;
}

@media screen and (min-width: 768px) {
		
		.avatar {
				width: 200px;
		}
		
		.skillsText h2 {
				font-size: 25px;
		}
		
		.skillsText h3 {
				font-size: 20px;
		}
		
		.head-text h1,
		.cypherTitle h1,
		.skillsTitle h1,
		.botsTitle h1,
		.hvtTitle h1 {
				font-size: 50px;
		}
		
		.cypherTitle span,
		.skillsTitle i,
		.botsTitle i {
				font-size: 70px;
		}
		
		.head-text p,
		.cypher p,
		.bots p,
		.hvt p {
				font-size: 20px;
				padding: 0 10%;
		}
		
		.hvtTitle img {
				width: 300px;
				height: 300px;
		}
		
		.botsButtons {
				width: 40%;
		}
		
		.hvtButtons {
				width: 40%;
		}
		
		.footerLinks {
				width: 20%;
				padding-top: 25px;
		}
		
		.copyright,
		.heart {
				font-size: 20px;
		}
		
		.copyright {
				padding-bottom: 20px;
		}
}

/* for 2500px and more (4K) */
@media screen and (min-width: 2500px) {
		body {
				width: 1440px;
				margin-left: 25%;
				margin-right: 25%;
		}
}
