* {
		margin: 0;
		padding: 0;
}

a {
		text-decoration: none;
		color: #000;
}

body {
		background: #000;
		color: #CCC;
		font-family: 'Baloo Bhaijaan 2', sans-serif;
}

section {
		margin-top: 30px;
		direction: rtl;
}

section h1 {
		color: #FFF;
		font-weight: 500;
		text-align: right;
		padding-right: 20px;
}

section h1 i {
		color: #ffb200;
}

section p {
		text-align: right;
		padding: 0 5%;
		padding-top: 10px;
}

.zap {
		color: #ffb200;
}

/* header */

header {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

header h1 {
		color: #00eaff;
		font-family: 'Luxurious Roman', sans-serif;
		letter-spacing: 2px;
		font-size: 40px;
		padding-top: 200px;
}

header p {
		text-align: center;
		direction: rtl;
		padding: 20px 5%;
}

.headWave {
		width: 100%;
}

.hvtAvatar {
		width: 250px;
		height: 250px;
		position: absolute;
		top: 80px;
}

.joinArea {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100px;
}

.hvtbtn {
		background: #00eaff;
		border-radius: 30px;
		padding: 10px 10px;
		margin: 0 15px;
		transition: padding 0.3s;
}

.hvtbtn:hover {
		padding: 15px 15px;
}

/* events */

.mafia {
		color: #777;
}

.gartic {
		color: #00FF00;
}

.amoung-us {
		color: #FF0000;
}

.fire {
		color: #ff8800;
}

.question {
		color: #0057ff;
}

/* footer */

footer {
		background: linear-gradient(to bottom, #000 0%, #ffb200 2%, #ffb200 100%);
		position: relative;
}

footer .footerWave {
		width: 100%;
		position: absolute;
		top: 0;
}

.footerText {
		padding-top: 150px;
		color: #000;
		font-family: 'Harmattan', sans-serif;
		font-size: 20px;
		text-align: center;
}

.copyright {
		font-size: 15px;
}

.heart {
		color: #FF0000;
		font-size: 15px;
}

.footerLinks {
		display: flex;
		justify-content: center;
		align-items: center;
}

.footerLinks a {
		text-decoration: none;
		color: #000;
		padding: 10px 5px;
		transition: font-size 0.3s;
}

.footerLinks a:hover {
		font-size: 23px;
}

/* responsive */

@media screen and (min-width: 768px) {
		
		/* header */
		
		.hvtAvatar {
				top: 220px;
				width: 300px;
				height: 300px;
		}
		
		header h1 {
				padding-top: 185px;
				font-size: 50px;
		}
		
		header p {
				padding: 20px 20%;
				font-size: 25px;
		}
		
		.hvtbtn {
				padding: 15px 15px;
				font-size: 20px;
				border-radius: 40px;
				margin-top: 40px;
				margin-bottom: 20px;
		}
		
		.hvtbtn:hover {
		padding: 20px 20px;
}
		
		/* section */
		
		section h1 {
				padding-right: 10%;
				font-size: 30px;
		}
		
		section p {
				font-size: 25px;
				padding: 0 11%;
		}
		
		/* footer */
		
		.footerText {
				padding-top: 340px;
				padding-bottom: 40px;
				font-size: 25px;
		}
		
		.copyright {
				font-size: 20px;
		}
		
		.heart {
				font-size: 20px;
		}
		
		.footerLinks a {
				font-size: 25px;
				padding: 15px 10px;
		}
		
		.footerLinks a:hover {
				font-size: 30px;
		}
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
		
		/* header */
		
		.hvtAvatar {
				top: 100px;
		}
}

@media screen and (min-width: 2500px) {
		body {
				width: 1440px;
				margin-left: 25%;
				margin-right: 25%;
		}
		
		header h1 {
				padding-top: 120px;
		}
}